.domfam {
  font-size: 60px;
  margin-top: 1%;
  text-align: center;
  color: #31a0f7; /* Set text color to #31a0f7 */
  font-weight: bold; /* Add bold font-weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.356); /* Add a subtle text shadow, adjust as needed */
  /* Add more styles as needed */
}

/* Org.css */

.orgfam {
  text-align: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.org-image {
  width: 100%; /* Make the image fill the width of its container */
  max-height: 200px; /* Limit the height to 200px, adjust as needed */
  object-fit: contain; /* Maintain the aspect ratio and fit within the specified dimensions */
  border-radius: 10px; /* Add border-radius for rounded corners, adjust as needed */
}
